@media all and (max-width: 900px) {
  section, footer {
    padding-left: 5%;
    padding-right: 5%;
  }
  .hide_on_mobile {
    display: none;
  }

  header {
    height: 300px;
    background-position: center -200px;
  }
}

@media all and (min-width: 901px) {
  section, footer {
    padding-left: 20%;
    padding-right: 20%;
  }

  header {
    height: 600px;
    background-position: center;
  }
}


body, html {
  margin: none;
  padding: none;
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rubik Mono One', sans-serif;
}

header {
  width: 100%;
  background-image: url("img/newmans_header_2_bw.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;

}

div.logo {
  width:300px;
  margin-left:auto;
  margin-right:auto;
  position: relative;
  top:-200px;
  margin-bottom: -200px;
}

img.logo {
  width: 100%;
}

section {
  background-color: #ffffff;
}

section, footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: stretch;
  flex-wrap: wrap;
  padding-top: 30px;
}

div.subsection {
  flex: 1 1 200px;
  padding: 20px;
}

#presentation {
  font-size: 1.3em;
}

#comfort-logo {
  width: 100%;
}

#kontaktinfo {
  font-size: 1.2em;
}

p.significant {
  font-size: 1,1em;
  font-weight: bold;
}

div.profile {
  text-align: center;
}

img.profile {
  width: 100px;
}

p.profile {

}

footer {
  margin-top: 50px;
  background-color: #222;
  color:#ffffff;
}

div.moraen {
  text-align: center;
}

img.moraen {
  width: 200px;
}
